*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculators{
    border: 2px solid #000;
    width: 31em;
    padding: 20px;
}

#display{
    height: 40px;
    font-weight: bold;
    font-size: 24px;
    text-align: right;
    margin-bottom: 20px; 
    padding: 10px;
    border: 2px solid #333; 
    border-radius: 5px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
button {
    padding: 15px;
    background-color: #fbe1d5;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
#btn{
    margin: 5px;
    padding: 15px 42px;
}